class `Admin::DashboardController` < `Admin::BaseController`

  http_basic_authenticate_with name: ENV["HTTP_BASIC_USER"], password: ENV["HTTP_BASIC_PASSWORD"]

  def show
    @number_of_products = Product.count
    @number_of_categories = Category.count
  end
end

# Path: app/views/admin/dashboard/show.html.erb

# <h1>Admin::Dashboard#show</h1>
# <p>Find me in app/views/admin/dashboard/show.html.erb</p>

# def show 
#   @number_of_products = Product.count
#   @number_of_categories = Category.count
# end