.form-title {
  text-align: center;
}

.form-container {
  width: 300px;
  margin: 0 auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-feild {
  margin: 10px;
}

.submit-button {
  margin: 10px;
}